[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "SlidingMenu"]
	path = SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
[submodule "ShowcaseView"]
	path = ShowcaseView
	url = https://github.com/romainguefveneu/ShowcaseView.git
[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
