[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "ShowcaseView"]
	path = ShowcaseView
	url = https://github.com/romainguefveneu/ShowcaseView.git
[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "GridLayout"]
	path = GridLayout
	url = https://github.com/dlew/android-gridlayout.git
[submodule "Gesture-ImageView"]
	path = Gesture-ImageView
	url = https://github.com/jasonpolites/gesture-imageview.git
[submodule "android-menudrawer"]
	path = android-menudrawer
	url = https://github.com/SimonVT/android-menudrawer.git
[submodule "Crouton"]
	path = Crouton
	url = https://github.com/keyboardsurfer/Crouton.git
[submodule "drag-sort-listview"]
	path = drag-sort-listview
	url = https://github.com/bauerca/drag-sort-listview.git
