<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2013 Romain Guefveneu.
    
   This file is part of naonedbus.
    
   Naonedbus is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
   
   Naonedbus is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.naonedbus"
    android:installLocation="auto"
    android:versionCode="55"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="net.naonedbus.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".NBApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Acapulco.Light" >
        <activity
            android:name=".activity.impl.MainActivity"
            android:theme="@style/Theme.Acapulco.Light.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.impl.AboutActivity"
            android:label="@string/about" />
        <activity android:name=".activity.impl.StopsActivity" />
        <activity android:name=".activity.impl.SchedulesActivity" />
        <activity
            android:name=".activity.impl.SendNewsActivity"
            android:label="@string/emptyString"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".activity.impl.BiclooDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activity.impl.OldSettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activity.impl.DonateActivity"
            android:label="@string/donate" />
        <activity
            android:name=".activity.impl.MapActivity"
            android:label="@string/map"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/map_searchable" />
        </activity>
        <activity
            android:name=".activity.impl.ParkDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.PlanActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.TutorialActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.StopPathActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.BookmarkGroupsActivity"
            android:label="@string/group_management" />
        <activity
            android:name=".activity.impl.StopDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.WebViewActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.AddEventActivity"
            android:label="@string/emptyString"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.impl.AddressSearchActivity"
            android:label="@string/emptyString"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <provider
            android:name=".provider.impl.RouteProvider"
            android:authorities="net.naonedbus.provider.RouteProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.DirectionProvider"
            android:authorities="net.naonedbus.provider.DirectionProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopProvider"
            android:authorities="net.naonedbus.provider.StopProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopBookmarkProvider"
            android:authorities="net.naonedbus.provider.StopBookmarkProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.EquipmentProvider"
            android:authorities="net.naonedbus.provider.EquipmentProvider"
            android:exported="true"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.UpdaterProvider"
            android:authorities="net.naonedbus.provider.UpdaterProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.EquipmentTypeProvider"
            android:authorities="net.naonedbus.provider.EquipmentTypeProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.RouteTypeProvider"
            android:authorities="net.naonedbus.provider.RouteTypeProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.ScheduleProvider"
            android:authorities="net.naonedbus.provider.ScheduleProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopPathProvider"
            android:authorities="net.naonedbus.provider.StopPathProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopBookmarkGroupProvider"
            android:authorities="net.naonedbus.provider.StopBookmarkGroupProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopBookmarkGroupLinkProvider"
            android:authorities="net.naonedbus.provider.StopBookmarkGroupLinkProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.LiveNewsProvider"
            android:authorities="net.naonedbus.provider.LiveNewsProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.StopBookmarkViewProvider"
            android:authorities="net.naonedbus.provider.StopBookmarkViewProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.BiclooBookmarkProvider"
            android:authorities="net.naonedbus.provider.BiclooBookmarkProvider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".activity.widgetconfigure.WidgetLargeConfigureActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.WidgetDialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.widgetconfigure.WidgetSmallConfigureActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.WidgetDialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="net.naonedbus.service.FavoriService" />

        <receiver
            android:name=".appwidget.HoraireWidgetLargeProvider"
            android:enabled="@bool/showLargeWidget"
            android:exported="true"
            android:label="Horaires naonedbus (large)" >
            <intent-filter>
                <action android:name="net.naonedbus.action.APPWIDGET_UPDATE" />
                <action android:name="net.naonedbus.action.APPWIDGET_ON_CLICK" />
                <action android:name="net.naonedbus.action.HORAIRE_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/horaire_widget_large_provider" />
        </receiver>
        <receiver
            android:name=".appwidget.HoraireWidgetSmallProvider"
            android:exported="true"
            android:label="Horaires naonedbus" >
            <intent-filter>
                <action android:name="net.naonedbus.action.APPWIDGET_UPDATE" />
                <action android:name="net.naonedbus.action.APPWIDGET_ON_CLICK" />
                <action android:name="net.naonedbus.action.HORAIRE_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/horaire_widget_provider" />
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD4kTPglWjwcELJeQsHoDAF9HeoTvdtW9U" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>