<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.naonedbus"
    android:versionCode="41"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="net.naonedbus.NBApplication"
        android:allowBackup="false"
        android:backupAgent=".backup.NaoBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Acapulco.Light" >
        <activity android:name=".activity.impl.MainActivity" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.impl.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".activity.impl.InfosTraficActivity"
            android:label="@string/title_activity_infos_trafic" />
        <activity android:name=".activity.impl.SensActivity" />
        <activity android:name=".activity.impl.ArretsActivity" />
        <activity android:name=".activity.impl.HorairesActivity" />
        <activity
            android:name=".activity.impl.CommentaireActivity"
            android:label="@string/emptyString"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".activity.impl.EquipementsActivity"
            android:label="@string/title_activity_equipements" />
        <activity
            android:name=".activity.impl.ParkingsActivity"
            android:label="@string/title_activity_parkings" />
        <activity
            android:name=".activity.impl.CommentaireDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.InfoTraficDetailActivity"
            android:label="@string/title_activity_actu" />
        <activity
            android:name=".activity.impl.SettingsActivity"
            android:label="@string/title_activity_parametres" />
        <activity
            android:name=".activity.impl.OldSettingsActivity"
            android:label="@string/title_activity_parametres" />
        <activity
            android:name=".activity.impl.MapActivity"
            android:label="@string/title_activity_map"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/map_searchable" />
        </activity>
        <activity
            android:name=".activity.impl.ParkingDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.FavorisImportActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.PlanActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.TutorialActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.ItineraireActivity"
            android:label="@string/title_activity_itineraire" />
        <activity
            android:name=".activity.impl.ParcoursActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.GroupesActivity"
            android:label="@string/title_activity_groupes" />
        <activity
            android:name=".activity.impl.ArretDetailActivity"
            android:label="@string/emptyString" />
        <activity
            android:name=".activity.impl.SearchActivity"
            android:label="@string/emptyString" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".provider.impl.LigneProvider"
            android:authorities="net.naonedbus.provider.LigneProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.SensProvider"
            android:authorities="net.naonedbus.provider.SensProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.ArretProvider"
            android:authorities="net.naonedbus.provider.ArretProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.FavoriProvider"
            android:authorities="net.naonedbus.provider.FavoriProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.EquipementProvider"
            android:authorities="net.naonedbus.provider.EquipementProvider"
            android:exported="true"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.UpdaterProvider"
            android:authorities="net.naonedbus.provider.UpdaterProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.TypeEquipementProvider"
            android:authorities="net.naonedbus.provider.TypeEquipementProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.TypeLigneProvider"
            android:authorities="net.naonedbus.provider.TypeLigneProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.HoraireProvider"
            android:authorities="net.naonedbus.provider.HoraireProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.ParcoursProvider"
            android:authorities="net.naonedbus.provider.ParcoursProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.GroupeProvider"
            android:authorities="net.naonedbus.provider.GroupeProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.FavoriGroupeProvider"
            android:authorities="net.naonedbus.provider.FavoriGroupeProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".provider.impl.FavorisViewProvider"
            android:authorities="net.naonedbus.provider.FavorisViewProvider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".activity.widgetconfigure.WidgetLargeConfigureActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.WidgetDialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.widgetconfigure.WidgetSmallConfigureActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.WidgetDialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".appwidget.HoraireWidgetLargeProvider"
            android:enabled="@bool/showLargeWidget"
            android:label="Horaires naonedbus (large)" >
            <intent-filter>
                <action android:name="net.naonedbus.action.APPWIDGET_UPDATE" />
                <action android:name="net.naonedbus.action.APPWIDGET_ON_CLICK" />
                <action android:name="net.naonedbus.action.HORAIRE_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/horaire_widget_large_provider" />
        </receiver>
        <receiver
            android:name=".appwidget.HoraireWidgetSmallProvider"
            android:label="Horaires naonedbus" >
            <intent-filter>
                <action android:name="net.naonedbus.action.APPWIDGET_UPDATE" />
                <action android:name="net.naonedbus.action.APPWIDGET_ON_CLICK" />
                <action android:name="net.naonedbus.action.HORAIRE_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/horaire_widget_provider" />
        </receiver>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI1W-U7aKOZOpeCcnTwm5xsgLCT5EcPwslJj06rQ" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>